<% layout("/layouts/boilerplate") %>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <br /><br />
      <h2>Add a New Listings</h2>
      <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">

        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input name="listing[title]" placeholder="Add a Catchy Title" type="text" class="form-control" required />
          <div class="valid-feedback">Looks Good!</div>
          <div class="invalid-feedback">Please Enter Title</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">description</label>
          <textarea name="listing[description]" class="form-control" required></textarea>
          <div class="invalid-feedback">Write atleast 2 Lines</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload image</label>
          <input name="listing[image]" type="file" class="form-control" required />

        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">price</label>
            <input name="listing[price]" placeholder="1200" class="form-control" required />
            <div class="valid-feedback">Done!</div>
            <div class="invalid-feedback">Please Enter a valid Price</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">country</label>
            <input name="listing[country]" placeholder="India" type="text" class="form-control" required />
            <div class="valid-feedback">Done!</div>
            <div class="invalid-feedback">Please Enter a valid country Name</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">location</label>
          <input name="listing[location]" placeholder="Raipur, Chhattisgarh" type="text" class="form-control"
            required />
          <div class="valid-feedback">Done!</div>
          <div class="invalid-feedback">Please Enter a valid Location</div>
        </div>

        <button class="btn btn-dark mb-3 add-btn">Add</button>
      </form>
    </div>
  </div>

  <!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WanderLust</title>
  </head>
  <body>
    <h3>Create a new List</h3>
    <form method="POST" action="/listings">
      <input name="listing[title]" placeholder="enter title" type="text" />
      <br /><br />
      <textarea
        name="listing[description]"
        placeholder="enter description"
        type="text"
      ></textarea>
      <br /><br />
      <input name="listing[image]" placeholder="enter image" type="text" />
      <br /><br />
      <input name="listing[price]" placeholder="enter price" type="number" />
      <br /><br />
      <input
        name="listing[location]"
        placeholder="enter location"
        type="text"
      />
      <br /><br />
      <input name="listing[country]" placeholder="enter country" type="text" />
      <br /><br />
      <button>Add</button>
    </form>
  </body>
</html> -->